
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-base: rgb(5, 118, 179);
    -fx-background: rgb(113, 199, 245);
}

.table-view {
	-fx-font-family: "Arial";
}

HBox {
    -fx-alignment: center ;
    -fx-padding: 40 ;
	-fx-font-family: "Brush Script MT";
	-fx-font-size: 24pt;
}

VBox {
	-fx-alignment: center ;
}


